.login-body {
  background-color: #ede7dc;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.login-body input {
  width: 200px;
  height: 40px;
}

.login-body span {
  font-weight: bold;
}

.login-body button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: black;
  background-color: #ccafa5;
  margin-left: 10px;
}
