.write-memo {
  display: flex;
  flex-direction: column;
}

.write-memo .title {
  font-size: 20px;
  font-weight: normal;
  height: 5vh;
}

.write-memo .content {
  height: 70vh;
}

.write-memo button {
  background-color: #ccafa5;
  height: 5%;
}
