.nav {
  background-color: #bdc3cb;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
}

.nav button {
  width: 100px;
  height: 50px;
  font-weight: bold;
  color: black;
  background-color: #ccafa5;
  margin-left: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
